<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="11bc213d-d8e0-4b8a-8723-df34f4d32e88" Publisher="CN=Maxime" Version="1.0.0.0" />
  <Properties>
    <DisplayName>VoilaMonAvis</DisplayName>
    <PublisherDisplayName>Maxime Grébauval</PublisherDisplayName>
    <Logo>Assets\VoilaMonAvis_StockerLogo.jpg</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VoilaMonAvis.App">
      <VisualElements DisplayName="VoilaMonAvis" Logo="Assets\VoilaMonAvis_StandardLogo.jpg" SmallLogo="Assets\VoilaMonAvis_SmallLogo.jpg" Description="Application du site VoilaMonAvi.fr" ForegroundText="light" BackgroundColor="#1BA1E2">
        <DefaultTile ShowName="allLogos" ShortName="Voilà Mon Avis" WideLogo="Assets\VoilaMonAvis_LargeLogo.jpg" />
        <SplashScreen Image="Assets\VoilaMonAvis_SplashScreen.jpg" BackgroundColor="#1BA1E2" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>