<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="11bc213d-d8e0-4b8a-8723-df34f4d32e88"
            Publisher="CN=Maxime"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>VoilaMonAvis(FromScratch)</DisplayName>
    <PublisherDisplayName>Maxime</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="VoilaMonAvis_FromScratch_.App">
        <VisualElements
            DisplayName="VoilaMonAvis(FromScratch)"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="VoilaMonAvis(FromScratch)"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>